@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-clip-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .bg-h-max {
    background-size: auto 100%;
  }
}
