@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@property --maskScale {
  syntax: "<length>";
  initial-value: 64px;
  inherits: false;
}

@keyframes maskClose {
  to {
    --maskSale: 0px;
  }
}

@layer utilities {
  .bg-clip-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .bg-h-max {
    background-size: auto 100%;
  }
}
